{:source-paths ["src/cljs"]
 :nrepl {:port 9000}
 :dependencies [[cider/cider-nrepl "0.21.0"]
                [cljs-ajax "0.8.0"]
                [lilactown/helix "0.0.12"]]
 :builds {:contacts {:target :browser
                     :compiler-options {:output-feature-set :es6}
                     :output-dir "resources/public/js"
                     :asset-path "/js"
                     :modules {:main {:init-fn contacts.core/init}}
                     :devtools {:http-root "resources/public"
                                :http-port 4200}}}}